<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://championship.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>championship.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>championship</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$championship</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChampionshipEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User ID=maguilar30@h6wti6yc5m;Password=Dana0405" Name="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User Id=maguilar30@h6wti6yc5m;Password=Dana0405" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="API.ChampionshipEntities2, API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ChampionshipEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User ID=maguilar30@h6wti6yc5m;Password=Dana0405" Name="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User Id=maguilar30@h6wti6yc5m;Password=Dana0405" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="API.ChampionshipEntities1, API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ChampionshipEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User ID=maguilar30@h6wti6yc5m;Password=Dana0405" Name="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User Id=maguilar30@h6wti6yc5m;Password=Dana0405" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=AGUIRO\SQLEXPRESS;Initial Catalog=Championship;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ChampionshipEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Championship.csdl|res://*/Championship.ssdl|res://*/Championship.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGUIRO\SQLEXPRESS;initial catalog=Championship;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChampionshipEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Championship.csdl|res://*/Championship.ssdl|res://*/Championship.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:h6wti6yc5m.database.windows.net,1433;initial catalog=Championship;user id=maguilar30@h6wti6yc5m;password=Dana0405;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChampionshipEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/PlayerDB.csdl|res://*/PlayerDB.ssdl|res://*/PlayerDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User Id=maguilar30@h6wti6yc5m;Password=Dana0405"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChampionshipEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Azure.csdl|res://*/Azure.ssdl|res://*/Azure.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:h6wti6yc5m.database.windows.net,1433;Initial Catalog=Championship;User Id=maguilar30@h6wti6yc5m;Password=Dana0405"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>